<div class="panel panel-default panel-info" *ngIf="user">
  <div class="panel-heading">
    <h3 class="panel-title">{{ user.name }}</h3>
  </div>
  <div class="panel-body">
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
      <img src="{{ user.avatar_url }}" class="img-thumbnail" alt="Image">
      <a type="button" class="btn btn-default btn-block" target="_blank" href="{{ user.html_url }}">View Profile</a>
    </div>
    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
      <span class="label label-primary">{{ user.public_repos }} Public Repos</span>
      <span class="label label-success">{{ user.public_gists }} Public Gists</span>
      <span class="label label-info">{{ user.followers }} Followers</span>
      <span class="label label-warning">{{ user.following }} Following</span>
      <br/>
      
      <ul class="list-group">
        <li class="list-group-item"><strong>Username:</strong> {{ user.login }}</li>
        <li class="list-group-item"><strong>Location: </strong> {{ user.location }}</li>
        <li class="list-group-item"><strong>Email:</strong> {{ user.email }}</li>
        <li class="list-group-item"><strong>Blog:</strong> {{ user.blog }}</li>
        <li class="list-group-item"><strong>Member Since: </strong> {{ user.created_at }}</li>
      </ul>
    </div>
  </div>
</div>